<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="192.168.1.8" />
		<add key="Database" value="Airbnb" />
		<add key="Name" value="sa" />
		<add key="Password" value="Smart12345" />
		<add key="MultipleActiveResultSets" value="=True" />
	</appSettings>
</configuration>